<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.future.spacex">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">

        <meta-data
            android:name="com.google.android.maps"
            android:value="AIzaSyDuN9TmAFhyTbxj3LcQhNaIcftCqG0e-9E" />

        <activity android:name=".StarfieldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MissionDetailsActivity"
            android:label=""
            android:parentActivityName=".SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SpaceXActivity" />
        </activity>
    </application>

</manifest>