<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.about.future.spacex">

    <!-- TODO -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">

        <activity android:name=".StarfieldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SpaceXActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.MissionDetailsActivity"
            android:exported="true"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <activity
            android:name=".view.RocketDetailsActivity"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <activity
            android:name=".view.LaunchPadDetailsActivity"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <receiver android:name=".widget.MissionAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mission_app_widget_info" />
        </receiver>

        <service android:name=".widget.UpdateIntentService" />

    </application>

</manifest>