<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.about.future.spacex">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <meta-data
            android:name="com.google.android.maps"
            android:value="xxx" />

        <activity android:name=".StarfieldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.MissionDetailsActivity"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <activity android:name=".view.RocketDetailsActivity" />

        <activity
            android:name=".view.LaunchPadDetailsActivity"
            android:parentActivityName=".view.SpaceXActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.about.future.spacex.view.SpaceXActivity" />
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>